@use 'varibels' as c;

// button  for mobile bars 
@mixin home_button() {
  font-size: clamp(1.1rem, 3vw, 2.5rem);
  color: #fff;
  padding: 6px;
  margin: 0 10px;
  transition: 0.6s;
  box-shadow: -5px -5px 10px 3px rgba(0 ,255, 0 , 0.5);
  border: 2px solid #fff;
  border-radius: 5px;
}

// button for day and night mode
@mixin day_night() {
  font-size: 30px;
  position: fixed;
  bottom: 102px;
  right: 10px;
  border: 2px solid c.$blue;
  padding: 10px;
  border-radius: 10px;
  background-color: c.$blue;
  color: c.$bg;
  cursor: pointer;
}
